body, html {
  color: #333;
  background: #FFF;
  font-family: helvetica,arial,sans-serif;
  font-size: 13px;
  line-height: 140%;
}
#logoblue { color: #003C79; }
#plusfive { color: #001224; }
#minusfive { color: #0066ce; }
a {
  text-decoration: none;
  color: #003C79;
}
h3 { text-align: center; }
#site {
  width: 960px;
  margin: auto;
}
#header {
  height: 50px;
  line-height: 50px;
  margin: 10px 10px 30px;
  text-align: center;
}
#header img {
  margin: 10px;
  height: 30px;
  float: left;
}
#top_bar_links {
  float: right;
}
#top_bar_links ul {
  list-style: none;
}
#top_bar_links ul li {
  float: left;
  margin: 0 0 0 5px;
  list-style: none;
  display: inline;
}
#top_bar_links li a {
  padding: 5px 15px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#top_bar_links li a:hover, #nav li:focus {
  font-weight: bold;
  background: rgba(255,255,255,0.15);
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
#main {
}
#left-col {
  float: left;
  width: 140px;
  overflow: hidden;
}
#middle {
  float: left;
  width: 640px;
  margin: auto 10px;
}
#right-col {
  float: left;
  width: 140px;
  overflow: hidden;
}
#content {
  border: 1px solid #333;
  padding: 5px;
  z-index: 999;
  margin-top: 1px;
}
#add-this {
  width: 140px;
}
#add-this ul {
  margin: 0;
  padding: 0;
  border: none;
}
#add-this ul li {
  margin: 1px;
  list-style: none;
  border: 1px solid #333;
}
#add-this li a {
  display: block;
  padding: 3px 5px;
  text-decoration: none;
  width: 100%;
  background: #4E688b;
  color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html>body #add-this li a {
  width: auto;
}
#add-this li a:hover {
  background: #6481A8;
  color: #333;
}
#feeds {
}
#feeds ul {
  margin: 0;
  display: inline;
}
#feeds ul li {
  list-style: none;
  display: inline;
}
#feeds li a {
  border: 1px solid #333;
  border-bottom: none;
  background: #4E688b;
  padding: 3px 15px;
  /*width: 100%;*/
  color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html>body #feeds li a {
  width: auto;
}
#feeds li a:hover {
  background: #6481A8;
  color: #333;
}
#footer {
  margin: 10px;
  padding-top: 5px;
  text-align: center;
  border-top: 1px solid #CCC;
}
#welcome {
  width: 200px;
  margin: 40px 0px 50px 150px;
  background: #FFE555;
  padding: 10px;
}
#login {
  width: 350px;
  padding: 5px;
  margin: 10px 100px 10px 50px;
  border: 2px solid #CCC;
}
#login h2 {
  text-align: center;
  margin: -15px 0 8px;
  background: #FFF;
  width: 80px;
}

.avatar {
}
.avatar img {
  width: 50px;
  margin: auto 45px;
}
.right {
  float: right;
}
.left {
  float: left;
}

#login label {
  float: left;
  width: 120px;
}
#login input[type="text"], #login input[type="password"] {
  float: left;
  width: 224px;
}
#login input[type="submit"] {
  cursor: pointer;
  background: #4E688A;
  text-shadow: 0px 1px 1px #333;
  color: #FFF;
  height: 30px;
  line-height: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  border-color: white;
  padding: 0 5px;
  float: right;
  -moz-box-shadow: 0px 0px 5px #333;
  -webkit-box-shadow: 0px 0px 5px #333;
  box-shadow: 0px 0px 5px #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


#box {
  vertical-align: baseline;
  border: 2px groove #CCC;
  border-radius: 5px;
  background: #FFF;
  display: inline-block;
  height: 18px;
  margin: 0;
  padding: 5px;
  clear: both;
  width: 350px;
}
#box label {
  float: left;
  width: 80px;
  line-height: 18px;
  font-size: 15px;
  color: #666;
  padding-left: 4px;
}
#box input[type="text"], #box input[type="password"] {
  width: 210px;
  font-size: 15px;
  height: 18px;
  line-height: 18px;
  float: left;
  border: none;
  padding: 0px;
  outline: none;
  border-color: #FFF;
  background: #FFF;
}
