<div id="right-col">
  <div class="avatar">
    <%= image_tag 'ramie.jpg' %>
    <h3><%= @other_user.email %></h3>
  </div>
  <div class="tags">
    <h3>Tags</h3>
    <p>
      love romance twitter army technology tips tutorials funny video 
    </p>
  </div>
  <div class="tags">
    <h3>Photos</h3>
    <%= image_tag 'rails.png' %>
    <%= image_tag 'rails.png' %>
  </div>
</div>
