<div id="welcome" class="left">
  A private facebook alternative where you can connect with another person and stay in touch. Simply share links, pictures, and words.
</div>

<div id="login" class="right">
<% if user_signed_in? %>
  <h2>Login</h2>
  <%= render :partial => "login" %>
  <h3>You're already logged in... this is a placeholder</h3>
<% else %>
  <h2>Sign Up</h2>
  <%= render :partial => "signup" %>
<% end %>
</div>

<div style="display:none">
  <h2>Login</h2>
  <%= render :partial => "login" %>
</div>

<div style="clear:both"></div>
